---
- name: "Install MySQL"
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: "present"
  vars:
    packages:
      - "mysql-client"
      - "mysql-server"
      - "libmysqlclient-dev"
      - "python3-mysqldb"

- name: 'Remove root user'
  community.mysql.mysql_user:
    name:  'root'
    state: 'absent'
    config_file: "/etc/mysql/debian.cnf"

- name: 'Apply local conf settings'
  community.general.ini_file:
    path: "/etc/mysql/mysql.conf.d/mysqld_local.cnf"
    section: "mysqld"
    option:  "{{ item.option  }}"
    value:   "{{ item.value   }}"
  with_items: "{{ mysql_conf }}"
  notify: "mysql_restart"

- name: 'Install backup cron script'
  ansible.builtin.template:
    src:  'backup.sh'
    dest: '/etc/cron.daily/backup.d/mysql'
    mode: '0755'
...
